
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat_box.css">
<div id="home-container">
    <section id="user-nav">
        <h4>User</h4>
        <% if(locals.user) { %>
            <% if(user.avatar) { %>
                <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
            <% } %>
            <p>
                <a href="/users/profile/<%= user.id %>"><%= user.name %></a>
            </p>
        <% } %>
    </section>
    <section id="feed-post">
        <h4>Posts</h4>
        <% if(locals.user){%>
        <form action="/post/create" id="new-post-form" method="post">
            <textarea name="content" id="" cols="30" rows="5" placeholder="Type Here...." required></textarea>
            <input type="submit" value="post">
        </form>
        <% }%>
        <div id="post-list-containner">
            <ul>
                <% for (post of post){%>
                    <%- include('_post')-%>
                <% }%>
            </ul>
        </div>
    </section>
    
    <section id="user-friends">
        <h4>Friends</h4>
        <%for(u of all_users){%>
            <p>
                <a href="/users/profile/<%= u.id%>"><%= u.name%></a>
            </p>
        <%}%>
    </section>
    <%- include('_chat_box') -%>
</div>
<script src="/js/home_posts.js"></script>
<script src="/js/home_post_comments.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if (locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>')
    </script>
    <% } %>